<div id="sidebar">
	<ul>
	
	<li>
			<h2>Trending & Data Analytics</h2>
			<ul>
				<li id="first"><a href="Analytics.jsp">Analytics</a>
				</li>
			</ul>
		</li>
		<li>
			<h2>Consoles</h2>
			<ul>
				<li id="first"><a href="ConsoleList.jsp?maker=microsoft">Microsoft</a>
				</li>
				<li><a href="ConsoleList.jsp?maker=sony">Sony</a></li>
				<li><a href="ConsoleList.jsp?maker=nintendo">Nintendo</a></li>
			</ul>
		</li>
		<li>
			<h2>Games</h2>
			<ul>
				<li id="first"><a href="GamesList.jsp?maker=electronicArts">Electronic
						Arts</a></li>
				<li><a href="GamesList.jsp?maker=activision">Activision</a></li>
				<li><a href="GamesList.jsp?maker=takeTwoInteractive">Take-Two
						Interactive</a></li>
			</ul>
		</li>
		<li>
			<h2>Tablets</h2>
			<ul>
				<li id="first"><a href="TabletList.jsp?maker=apple">Apple</a></li>
				<li><a href="TabletList.jsp?maker=microsoft">Microsoft</a></li>
				<li><a href="TabletList.jsp?maker=samsung">Samsung</a></li>
			</ul>
		</li>
	</ul>
</div>